 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html {
     font-family: sans-serif;
     -webkit-text-size-adjust: 100%;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     padding: 0;
     margin: 0;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
 }
 
 body {
     -webkit-text-size-adjust: 100%;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     padding: 0;
     margin: 0;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     background-color: #f2f2f2;
     color: #1a1a1a;
     font-family: "Source Sans Pro", sans-serif;
     font-size: 1.1rem;
 }
 


 
 .range-slider-container {
     padding: 2rem;
 }
 
 /**
  * Range Slider Block
  */
 .range-slider-block {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .range-sliders {
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #7d7d7d;
}




 /**
  * Range Sliders
  */
 .range-sliders {
     width: 100%;
     background-color: #ffffffb8;
     padding: 1.5rem;
 }
 
 .range-sliders > *:not(:last-child) {
     margin-bottom: 1.1rem;
 }

 .range-sliders input[type=range] {
     width: 100%;
     background: linear-gradient(to right, #f00 0%, #f00 50%, #fff 50%, #fff 100%);
     border-radius: 50px;
     height: 7px;
     outline: none;
     -webkit-appearance: none;
 }
 
 .range-sliders input[type=range]:focus {
     outline: none;
 }
 
 .range-sliders input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 1px;
     cursor: pointer;
     box-shadow: none;
     background-color: #e6e6e6;
     border-radius: 0;
 }
 
 .range-sliders input[type=range]::-moz-range-track {
     width: 100%;
     height: 1px;
     cursor: pointer;
     box-shadow: none;
     background-color: #ccc;
     border-radius: 0;
 }
 
 .range-sliders input[type=range]::-webkit-slider-thumb {
     box-shadow: none;
     height: 12px;
     width: 12px;
     border-color: transparent;
     border-radius: 22px;
     background-color: #999;
     cursor: ew-resize;
     -webkit-appearance: none;
     margin-top: -5.5px;
     background-color: #406675;
 }
 
 .range-sliders input[type=range]::-moz-range-thumb {
     box-shadow: none;
     height: 12px;
     width: 12px;
     border-color: transparent;
     border-radius: 22px;
     background-color: #999;
     cursor: ew-resize;
     -webkit-appearance: none;
     margin-top: -15px;
     background-color: #406675;
 }
 
 .range-sliders input[type=range]::-moz-focus-outer {
     border: 0;
 }
 
 .range-sliders input[type=range].range-slider-red {
     background: linear-gradient(to right, #f00 0%, #f00 50%, #fff 50%, #fff 100%);
 }
 
 .range-sliders input[type=range].range-slider-red::-webkit-slider-runnable-track {
     background-color: rgba(255, 0, 0, 0.1);
 }
 
 .range-sliders input[type=range].range-slider-red::-moz-range-track {
     background-color: rgba(255, 0, 0, 0.1);
 }
 

 .range-sliders input[type=range].range-slider-green {
     background: linear-gradient(to right, #090 0%, #090 50%, #fff 50%, #fff 100%);
 }
 
 .range-sliders input[type=range].range-slider-green::-webkit-slider-runnable-track {
     background-color: rgba(0, 153, 0, 0.1);
 }
 
 .range-sliders input[type=range].range-slider-green::-moz-range-track {
     background-color: rgba(0, 153, 0, 0.1);
 }
 


 
 .range-sliders input[type=range].range-slider-blue {
     background: linear-gradient(to right, #00f 0%, #00f 50%, #fff 50%, #fff 100%);
 }
 
 .range-sliders input[type=range].range-slider-blue::-webkit-slider-runnable-track {
     background-color: rgba(0, 0, 255, 0.1);
 }
 
 .range-sliders input[type=range].range-slider-blue::-moz-range-track {
     background-color: rgba(0, 0, 255, 0.1);
 }
 

 
 .range-sliders input[type=range].range-slider-last {
     background: linear-gradient(to right, rgb(255, 217, 0) 0%, rgb(255, 0, 0) 50%, #fff 50%, #fff 100%);
 }
 
 .range-sliders input[type=range].range-slider-last::-webkit-slider-runnable-track {
     background-color: rgba(0, 0, 255, 0.1);
 }
 
 .range-sliders input[type=range].range-slider-last::-moz-range-track {
     background-color: rgba(0, 0, 255, 0.1);
 }
 

 .range-sliders .range-slider-group .input-slider {
    width: 65px;
    text-align: center;
    border: 2px solid #aca9a9;
    border-radius: 50px;
    box-shadow: 3px 3px 0px 0px #cacaca;
    box-shadow: inline 0px 0px 5px;
}

 
 .range-sliders .input-slider {
     border: 1px solid #e6e6e6;
     padding: 0.35rem;
     -moz-appearance: textfield;
 }
 
 .range-sliders .input-slider::-webkit-outer-spin-button,
 .range-sliders .input-slider::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 
 .range-sliders .range-slider-group {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
 }
 
 .range-sliders .range-slider-group .range-label {
     width: 100%;
     font-size: 1rem;
     font-style: italic;
     color: rgb(77, 77, 77);
 }
 
 .range-sliders .range-slider-group .range-slider {
     width: calc(100% - 80px);
 }
 

 @media (min-width: 576px) {
 

 }
 @media (min-width: 768px) {
 
     body {
         font-size: 1.125rem;
     }

 }
 
 